.all__category__filter select,
.all__items__filter select,
.filter__right select {
  padding: 8px 25px;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  background: #343444;
  border-radius: 5px;
}

.filter__left {
  /* column-gap: 20px; */
}

.search_field {
  padding: 8px 25px 8px 32px;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  background: #343444;
  border-radius: 5px;
}

.search_icon {
  position: absolute;
  color: white;
  top: 7px;
  left: 10px;
}

@media only screen and (max-width: 768px) {
  .all__category__filter select,
  .all__items__filter select,
  .filter__right select {
    padding: 5px 20px;
    font-size: 0.6rem;
    width: 100% !important;
  }
  .search_field {
    padding: 5px 25px !important;
    font-size: 0.6rem !important;
  }
  .search_icon {
    top: 4px !important;
    left: 6px !important;
    font-size: 0.9rem;
  }
}